body
{
    margin: 0px;
    padding: 0px;
    /*background-color: #011627;
    color: #fdfffc;*/
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1618477202872-89cec6f8d62e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG5hdHVyZSUyMGltYWdlfGVufDB8fDB8fHww);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1
{
font-size: 45px;
}
input
{
    width: 90px;
    height: 50px;
    font-size: 45px;
    border-radius: 100px;
    margin: 10px;
    background-color: white;
    color: black;
    border-style: none;
    
}
.btn:hover
{
    background-color: aqua;
    cursor: pointer;
}